.tasks {
    list-style: none;
    margin: 0;
    padding: 0;
}

.task__item {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.task__content--done {
    text-decoration: line-through;
}

.task__button {
    border: none;
    color: white;
    width: 30px;
    height: 30px;
    padding: 0;
}

.task__button--toogleDone {
    background: hsl(120, 61%, 34%);
}

.task__button--toogleDone:hover {
    background: hsl(120, 61%, 39%);
}

.task__button--toogleDone:active {
    background: hsl(120, 61%, 44%);
}

.task__button--remove {
    background: hsl(348, 83%, 47%);
}

.task__button--remove:hover {
    background: hsl(348, 83%, 52%);
}

.task__button--remove:active {
    background: hsl(348, 83%, 57%);
}